*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --x: 600px;
    --y: 300px;
    --img: url(https://preview.redd.it/drawing-a-lot-video-games-characters-in-one-picture-you-can-v0-sgx1edfem85c1.png?width=1080&crop=smart&auto=webp&s=0a3ce94732d8d85ad6f65fa6ef5ea70156b2aa50);
}


html, body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(133, 130, 130); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          
}

main {
    height: 100%;
    width: 100%;
    cursor:none;

    background-image:
    radial-gradient(100px at var(--x) var(--y), transparent, black),var(--img);

    background-size: cover;
    background-position: center;
}

h1{
   
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 20%;
}

#btn{
    position: absolute;
    right:2%;
    bottom:5%;
    padding: 5px 10px;
    border:none;
    cursor: pointer;
    border-radius: 6px;
    background-color:black;
}


#btn:active{
    scale:0.95;
}

#btn{
    opacity: 0.1;
}

#btn:hover{
    opacity: 1;
    background-color: white;
    color: black;
}